<% @users.each do |form| %>
    <br>
    <div class="container ">
      <div class="row text-secondary bg-white" style="padding: 10px;">
        <div class="col-sm-2">
          <img src="<%= form.avatar %>" width="125" class="rounded">
        </div>
        <div class="col-sm-4 ">
          <%= form.name %> <br>
          <%= form.job_title %> <br>
          <%= form.email %> <br>
          <%= form.phone %> <br>
          <%= link_to "View Profile", user_path(form.id) %>
        </div>
        <div class="col-sm-5">
          Average leadership score : <%= @average_leadership_score %> <br>
          Average aptitude score : <%= @average_aptitude_score %> <br>
          Average commercial score : <%= @average_commercial_score %> <br>
          Average teamwork score : <%= @average_teamwork_score %> <br>
          Average innovation score : <%= @average_innovation_score %> <br>
        </div>
      </div>
    </div>
	<% end %>
