
	<% @users.each do |form| %>
    <br>
    <div class="container ">
      <div class="row text-secondary" style="padding: 10px; background: #F8F9FB;">
        <div class="col-sm-2">
          <img src="<%= form.avatar %>" width="125" class="rounded">
        </div>
        <div class="col-sm-4 ">
          <%= form.name %> <br>
          <%= form.job_title %> <br>
          <%= form.email %> <br>
          <%= form.name %> <br>
        </div>
        <div class="col-sm-5">
          Cumulative leadership score : <%= @average_leadership_score %> <br>
          Cumulative aptitude score : <%= @average_aptitude_score %> <br>
          Cumulative commercial score : <%= @average_commercial_score %> <br>
          Cumulative teamwork score : <%= @average_teamwork_score %> <br>
          Cumulative innovation score : <%= @average_innovation_score %> <br>
        </div>
      </div>
    </div>
	<% end %>
