<h1>Your Account</h1>

 <div class="row">   
      <div class="col-md-3">

   <ul class= "sidebar-list">

            
               <%= link_to 'New Project', new_project_path, class: 'sidebar-link active' %>

               </br>
          
               <%= link_to 'Your Projects',  your_projects_path, class: 'sidebar-link active' %>   

               </br>

                <%= link_to 'View Projects', projects_path, class: 'sidebar-link active' %> 

                </br>

                 <%= link_to 'Reviews', edit_user_path(@user.id), class: 'sidebar-link active' %>
    </br>

    <%= link_to 'Edit Account', responses_path, class: 'sidebar-link active' %>
    
    </div>     
       </ul> 

    <div class="row">
     
           <div class="col-md-3">

           <div class="col-md-7 text-center">
 
       <div class="panel panel-default">
 
           <div class="panel-heading"> Profile</div> </br>

                                    <div class="panel-body">
                                     <div class="container">


                      <% if @user.avatar.nil? %>
                      <%= image_tag("/assets/default-image.png", size:'100') %>
                      <%else%>
              <img src="<%= @user.avatar %>" width="100", class: "avatar-full">
                 
                      <%end%> 
     
                  
                     
     
                                           <div>First Name: <%= @user.name %></div></br>
     
                                           <div>Job Title: <%= @user.job_title %></br>
     
                                           Email:  <%= @user.email %></br>

                                           Phone Number: <%= @user.phone %></br>

                                           Date of Birth: <%= @user.birthdate %></br>

                                           About: <%= @user.about %></br>
 
                    </div>
                </div>
          
            </div>
     
               </div>
     
     </div>





