<h1>Your Account</h1>
  <div>
    Avatar :
    <br>
    <% if @user.avatar.nil? %>
      <%= image_tag('/assets/default-image.png', size: '100') %>
    <% else %>
      <img src="<%= @user.avatar %>" width="100">
    <% end %>
  </div>
  <br>
  <div>
    First name :
    <br>
    <%= @user.name %>
  </div>
  <br>
  <div>
    Job Title :
    <br>
    <%= @user.job_title %>
  </div>
  <br>
  <div>
    E-mail :
    <br>
    <%= @user.email %>
  </div>
  <br>
  <div>
    Phone number :
    <br>
    <%= @user.phone %>
  </div>
  <br>
  <div>
    Date of birth :
    <br>
    <%= @user.birthdate %>
  </div>
  <br>
  <div>
    About :
    <br>
    <%= @user.about %>
  </div>
  <br>
<%=
  if current_user = @user
    button_to 'Edit Account', edit_user_path(@user.id), method: :get
  end
%>

