<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div><%= link_to 'New Project', new_project_path %></div>
<div><%= link_to 'Your Projects', your_projects_path %></div>

<% if current_user.nil? %>
  <div><%= link_to 'Sign in', sign_in_path, method: :get %></div>
<% else %>
  <div><%= link_to 'Your Account', user_path(current_user), method: :get %></div>
  <div><%= link_to 'Sign out', sign_out_path, method: :delete %></div>
<% end %>


