<div class="project-body">
	<div class="col-md-4 offset-md-1">
		<h2>All Projects</h2>
	</div>



	<div class="container card-list row">
		<div class="card blue col-md-4">
			<div class="title">all projects</div><span class="glyphicon glyphicon-upload"></span>
			<div class="value"><%=@projects.count%></div>
		</div>
		<div class="card green col-md-4">
			<div class="title">team members</div><span class="glyphicon glyphicon-upload"></span>
			<div class="value"><%=@users.count%></div>
		</div>
		<div class="card orange col-md-4">
			<div class="title">reviews submitted</div><span class="glyphicon glyphicon-download"></span>
			<div class="value"><%=@completed_reviews.count%></div>
		</div>
	</div><br>

	<div class="container projects">
		<div class=" row projects-inner col-md-12">
			<header class="projects-header row">

			<div class="count mr-auto"><h5><%=@projects.count%> Projects</h5></div><span class="glyphicon glyphicon-download-alt"></span>
			</header>
			<table class="projects-table">
				<thead>
					<tr>
						<th>Project</th>
						<th>Deadline</th>
						<th>Leader + Team</th>
						<th>Budget</th>
						<th>Status</th>
					</tr>
				</thead>

			<% @projects.each do |p| %>
			<% project_owner = User.find(p.owner_id) %>
			<tr>
				<td>
				<p><%=p.name%></p>

				</td>
				<td>
				<p><%=p.deadline%></p>
				<p class="danger-text"><%= Time.current > p.deadline ? "Overdue" : nil %></p>
				</td>
				<td class="member">
				<figure><img src="<%= project_owner.avatar %>"/></figure>
				<div class="member-info">
					<p><%= project_owner.name %></p>
				</div>
				</td>
				<td>
				<p>$4,670</p>
				<p>Paid</p>
				</td>
				<td class="status"><span class="status-text status-orange">In progress</span>
				<form class="form" action="#" method="POST">
					<select class="action-box">
					<option>Actions</option>
					<option>Start project</option>
					<option>Send for QA</option>
					<option>Send invoice</option>
					</select>
				</form>
				</td>
			</tr>

<% end %>

			<tr class="danger-item">
				<td>
				<p>New Dashboard</p>

				</td>
				<td>
				<p>17th Apr, 18</p>
				<p class="danger-text">Overdue</p>
				</td>
				<td class="member">
				<figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png"/></figure>
				<div class="member-info">
					<p>Myrtle Erickson</p>
					<p>UK Design Team</p>
				</div>
				</td>
				<td>
				<p>$4,670</p>
				<p>Paid</p>
				</td>
				<td class="status"><span class="status-text status-red">Blocked</span>
				<form class="form" action="#" method="POST">
					<select class="action-box">
					<option>Actions</option>
					<option>Start project</option>
					<option>Send for QA</option>
					<option>Send invoice</option>
					</select>
				</form>
				</td>
			</tr>
			<tr>
				<td>
				<p>New Dashboard</p>

				</td>
				<td>
				<p>17th Apr, 18</p>
				<p class="danger-text">Overdue</p>
				</td>
				<td class="member">
				<figure><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png"/></figure>
				<div class="member-info">
					<p>Myrtle Erickson</p>
					<p>UK Design Team</p>
				</div>
				</td>
				<td>
				<p>$4,670</p>
				<p>Paid</p>
				</td>
				<td class="status"><span class="status-text status-orange">In progress</span>
				<form class="form" action="#" method="POST">
					<select class="action-box">
					<option>Actions</option>
					<option>Start project</option>
					<option>Send for QA</option>
					<option>Send invoice</option>
					</select>
				</form>
				</td>
			
			</table>
		</div>
	</div>

</div>