
 <div class="col-md-7">
      <div class="row">
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Rankings</h3></div>
            <div class="panel-body">


Average Project Score: <%=@average_score_user%></br>
Last Finalized project: <%=@last_project.name%></br>
Last score: <%=@last_score_user%></br>
Average Leadership Score: <%=@average_leadership_score%></br>
Average Commercial Score: <%=@average_commercial_score%></br>
Average Aptitude Score: <%=@average_aptitude_score%></br>
Average Teamwork Score: <%=@average_teamwork_score%></br>
Average Innovation Score: <%=@average_innovation_score%></br>


     </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>