<h1>Review page for <%= @recipient.name%> </h1>
 <h3>please enter the score corresponding to the degree to which you agree with the following statements.</h3>

 <%count = 0%>
<ul>

<%= form_for @response do %>
 <%Question.all.each do |q|%>
<input type="hidden", name="recipient_id", value="<%=@recipient.id%>">
<input type="hidden", name="project_id", value="<%=@project.id%>">
 <%if count==0 ||count==5 || count==10 ||count==15 || count==20%>

 <h5><%=q.category%> category</h5></br>
 
 Options:
 Strongly Disagree, Disagree, Neutral, Agree, Strongly Agree</br></br>
 <%end%>

 
 <li><%=q.question%></br>
 	<select name="responses[<%= q.category %>]">
 <!-- <option hidden disabled value selected> -- select an option -- </option> -->
  <option value="4">Agree</option>
  <option value="1">Strongly Disagree</option>
  <option value="2">Disagree</option>
  <option value="3">Neutral</option>
  <option value="5">Strongly Agree</option>
</select></li>
</br>
 <%count = count+1%>
<% end %>
</ul>

 <div id="button"><%= submit_tag 'Save' %></div>
 
<%end%>