<div class="container">
<h1>Reviewing <%= @recipient.name%> for <%= @project.name %></h1>
<h3>Please enter the score corresponding to the degree to which you agree with the following statements about <%= @recipient.name %></h3>

<%= form_for @response do |f|%>
	<input type="hidden" name="recipient_id" value="<%=@recipient.id%>">
	<input type="hidden" name="project_id" value="<%=@project.id%>">
		<%= category = nil %>
		<% @questions.each_with_index do |q,index|%>
			<% if q.category != category %>
				<% category = q.category %>
				<ul><h5><%=category.capitalize%> category</h5>
			<%end%>

			<li>
				<%=q.question%></br>
				<div class="container">
					<div class="row">
						<label class="col radio-inline"><input class="radio-button-input" type="radio" name="responses[<%= q.id %>]" value="1"> Strongly Disagree</label>
						<label class="col radio-inline"><input class="radio-button-input" type="radio" name="responses[<%= q.id %>]" value="2"> Disagree</label>
						<label class="col radio-inline"><input class="radio-button-input" type="radio" name="responses[<%= q.id %>]" value="3"> Neutral</label>
						<label class="col radio-inline"><input class="radio-button-input" type="radio" name="responses[<%= q.id %>]" value="4"> Agree</label>
						<label class="col radio-inline"><input class="radio-button-input" type="radio" name="responses[<%= q.id %>]" value="5"> Strongly Agree</label>
					</div>
				</div>
			</li>

			<% if index != @questions.count - 1 %>
				<% if category != @questions[index+1].category %>
					</ul>
				<% end %>
			<% else %>
				</ul>
			<% end %>
		<% end %>

	<%= f.submit 'Submit review', disabled: true, class: "btn btn-primary active", id: "submit-button" %>
	<div id="submit-error" style="color: red;">Please fill in all questions.</div>
<%end%>
</div>

<script type="text/javascript">
	$("input").on("click", function(){
		var n = $("input:checked").length;
		if (n == <%= @questions.count %>) {
			$('#submit-button').prop('disabled', false);
			$('#submit-error').prop('hidden', true);
		}
	});
</script>